// =========================================================
// UTILITY CLASSES > USUALLY WITH JUST A SINGLE PURPOSE
// =========================================================

.u-right {
    display: flex;
    justify-content: flex-end;
}

.u-center-text {
    display: block;
    text-align: center;
}

.u-mr-sm {
    margin-right: $space-sm;
}

.u-mt-sm {
    margin-top: $space-sm;
}

.u-fs-160 {
    @include font-size(fs-160);
}

.u-space-stack-sm {
    margin-bottom: $space-stack-sm;
}

.u-space-stack-xs {
    margin-bottom: $space-stack-xs;
}

.u-space-stack-xxs {
    margin-bottom: $space-stack-xxs;
}

.u-space-stack-xxxs {
    margin-bottom: $space-stack-xxxs;
}

.u-space-stack-xxxxs {
    margin-bottom: $space-stack-xxxxs;
}

.u-mb-lg {
    margin-bottom: $space-lg;
}
