<div class="c-toggle" data-module="test2">
    <label for="checkbox">{{ text }}</label>
    <input type="checkbox" name="checkbox" id="checkbox">
</div>

<script>
    console.log('toggle');
</script>

<style>
    .c-toggle {
        background-color: tomato;
    }
</style>